<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandsFree ✋</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1 id="title">HandsFree ✋</h1>

    <div class="game-viewport">
        <video id="webcam" autoplay playsinline></video>
        
        <canvas id="gameCanvas"></canvas>

        <div id="guide-box" class="npc-box">
            <div class="npc-header">GUIDE</div>
            <p id="guide-text">Initialising interface...</p>
            <div class="npc-footer">Demo Mode Active</div>
        </div>  
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>